.member-search-form {
  float: left;

  input[type='search'] {
    width: 225px;
    vertical-align: bottom;
    
    @media (max-width: $screen-xs-max) {
      width: 100px;
      vertical-align: bottom;
    }
  }
}

.milestone-row {
  @include str-truncated(90%);
}

.dashboard .side .panel .panel-heading .input-group {
  .form-control {
    height: 42px;
  }
}

.content-list .group-name {
  font-weight: 600;
  color: #4c4e54;
}
